
.dropdown-title{
    display:flex;
    flex-direction:column;
   
    
}
.dropdown-sub{
    font-size:10px;

}
.dropdown-select-container{
    display:flex;
    gap:15px;
}

.dropdown-select{
    font-size:13px;
    font-weight:bold;

}

.icon-color{
    color:#CED2DB;
}