body {
  margin: 0;
  background-color: #EDF1FA ; 
  font-family:poppins,serif;

  
  
}

.dropdown{
  max-width:200px;

}

.dropdown-btn {
  display:flex;
  height:64px;
  align-items:center;
  padding-left: 18px;
  padding-right: 18px;
  border-width: 1px; 
  border-radius: 0.5rem; 

}
.dropdown-icon-primary{
  font-size: 1.5rem;
  line-height: 2rem; 
  margin-right:18px;
  color: rgb(109 40 217);

}

.dropdown-icon-secondary{
  font-size: 1.5rem;
  line-height: 2rem; 
  color: rgb(109 40 217);
  margin-left: auto;
  cursor:pointer;
}
.dropdown-menu{
 padding:8px 6px;
 font-size: 15px;
 margin-top: 1.5rem;
 box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
 background:white;
 position:absolute;
 z-index:10;
 list-style:none;
 top:35px;
 



}

.icons{
  font-size: 1.125rem;
  line-height: 1.75rem; 
  color: rgb(109 40 217);
}

.flex{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}

.relative{
  position:relative;
}
.dropdown-title{
  display:flex;
  flex-direction:column;
  /* width:298px; */
 
  
}
.dropdown-sub{
  font-size:10px;

}
.dropdown-select-container{
  display:flex;
  gap:15px;
}

.dropdown-select{
  font-size:13px;
  font-weight:bold;

}

.icon-color{
  color:#CED2DB;
}


.dropdown-list:hover{
  cursor:pointer;
  color:#4F84FE

}